language: go
go_import_path: github.com/kubernetes-sigs/ibm-vpc-block-csi-driver
dist: xenial
env:
  global:
    - GO111MODULE=on

go:
  - "1.22.0"

before_install:
  - go install github.com/mattn/goveralls@latest

script:
  - make
  - go test -covermode=count -coverprofile=profile.cov ./pkg/...
  - $GOPATH/bin/goveralls -coverprofile=profile.cov -service=travis-ci
