language: go
go_import_path: github.ibm.com/alchemy-containers/ibm-vpc-block-csi-driver
dist: xenial
env:
  global:
    - GO111MODULE=on

go:
  - "1.16.x"

before_install:
  - go install github.com/mattn/goveralls@latest

script:
  - make
  - go test -covermode=count -coverprofile=profile.cov ./pkg/...
  - $GOPATH/bin/goveralls -coverprofile=profile.cov -service=travis-ci
