apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ibmc-vpc-block-sdp
provisioner: vpc.block.csi.ibm.io
parameters:
  profile: "sdp"
  iops: "100"
  bandwidth: "1000"
  csi.storage.k8s.io/fstype: "ext4"
  billingType: "hourly"
  encrypted: "false"
  encryptionKey: ""
  resourceGroup: ""
  zone: ""
  tags: ""
  generation: "gc"
  classVersion: "1"
reclaimPolicy: "Delete"